<h2>Template: <small>Dinámicos</small></h2>
<hr>
<!--NOMBRE-->
<form action="" #miFormulario="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input required [ngModel]="persona.nombre" name="nombre" autocomplete="off" class="form-control" placeholder="Nombre" type="text">
      <span *ngIf="miFormulario.controls?.['nombre']?.['errors']"
      class="form-text text-danger">Este campo es obligatorio</span>
    </div>
  </div>
  <!--AGREGAR FAVORITO-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">

      <div class="input-group">
        <input autocomplete="off" (keyup.enter)="agregar()" [(ngModel)]="nuevoJuego" name="juegoFavorito" class="form-control" placeholder="Agregar juego favorito" type="text">
        <button class="btn btn-outline-primary" (click)="agregar()" type="button">Agregar</button>
      </div>
    </div>
  </div>
  <hr>
<!--lista de juegos favoritos-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div *ngFor="let favorito of persona.favoritos; let i = index" class="input-group mb-1">
        <input required [(ngModel)]="favorito.nombre" name="favorito_{{i}}" class="form-control" type="text">
        <button (click)="eliminar(i)" class="btn btn-outline-danger" type="button">Eliminar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button [disabled]="miFormulario.invalid" class="btn btn-primary float-end" type="button" (click)="guardar()">Guardar</button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{persona|json}}</pre>
