<h2>Template Básicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm">

      <!--Campo de producto-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Producto</label>
        <div class="col-sm-9">
          <input minlength="3" [ngModel]="initForm.producto" required type="text" autocomplete="off" name="producto"
            placeholder="Nombre del producto" class="form-control">
          <span *ngIf="nombreValido()" class="form-text text-danger">Debe de ser de 3
            letras</span>
        </div>
      </div>
      <!--PRECIO DEL PRODUCTO-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Precio</label>
        <div class="col-sm-9">
          <input name="precio" [ngModel]="initForm.precio" type="number" placeholder="Precio del producto" class="form-control">
          <span *ngIf="precioValido()" class="form-text text-danger">El precio debe ser mayor o igual a 0</span>
        </div>
      </div>
      <!--EXISTENCIAS-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Existencias</label>
        <div class="col-sm-9">
          <input required customMin [minimo]="0" [ngModel]="initForm.existencias" name="existencias" type="number"
            placeholder="Existencias del producto" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button [disabled]="miFormulario.invalid" type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>

    <span>Value</span>
    <pre>{{miFormulario.value|json}}</pre>

    <span>Pristine</span>
    <pre>{{miFormulario.pristine}}</pre>

    <span>Touched</span>
    <pre>{{miFormulario.touched}}</pre>

    <span>CustomDirective</span>
    <pre>{{miFormulario.controls?.['existencias']?.errors | json}}</pre>
  </div>
</div>
