<h2>Template:switches</h2>
<hr>

<form #miFormulario="ngForm">
  <!--RADIOS-->
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Géneros</label>
    <div class="col-sm-10">
      <div class="form-check">
        <input required class="form-check-input" value="M" [(ngModel)]="persona.genero" type="radio" name="radioGenero"
          id="radioMasculino">

        <label class="form-check-label" for="radioMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input required class="form-check-input" value="F" [(ngModel)]="persona.genero" type="radio" name="radioGenero"
          id="radioFemenino" checked>
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>
  <!--switch-->
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Notificaciones</label>
    <div class="col-sm-10">
      <div class="form-check form-switch mt-2">
        <input [(ngModel)]="persona.notificaciones" name="notificaciones" class="form-check-input" type="checkbox"
          id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
      </div>
    </div>
  </div>

  <!--switch-->
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <div class="form-check">
        <input required name="terminos" [(ngModel)]="terminosCondiciones" class="form-check-input" type="checkbox"
          id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Términos y condiciones de uso
        </label>
      </div>
    </div>
  </div>
  <!--boton submit-->
  <div class="col">
    <div class="col">
      <button [disabled]="miFormulario.invalid" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<h4>Valor del formulario</h4>
<pre>{{miFormulario.value | json}}</pre>
<br>
<h4>Persona</h4>
<pre>{{persona | json}}</pre>
<br>
<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>
<br>
<pre>Condiciones:</pre>
